name: Generate images

on:
  push:
    branches: main
    paths:
      - 'device/**'
      - 'device-lowres/**'
      - 'images/**'
      - 'index.js'
      - 'createJsonOutput.js'
      - '.github/workflows/**'

jobs:
  docs:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install Yarn
        run: npm install --global yarn

      - name: Install dependencies
        run: yarn

      - name: Generate JSON output
        run: node createJsonOutput.js

      - name: Generate images
        run: node index.js

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: gh-pages
          build_dir: out
          fqdn: img.appledb.dev
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Wait for GitHub Pages
        uses: lewagon/wait-on-check-action@v1.4.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          ref: gh-pages
          running-workflow-name: pages-build-deployment

      - name: Update Repos
        run: |
          curl -L \
          -X POST -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.PRIVATE_TOKEN_GITHUB }}" \
          https://api.github.com/repos/littlebyteorg/apple-device-images/dispatches \
          -d '{"event_type": "update-repos", "client_payload": {}}'
